.scrollContainer {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  overflow-y: auto;
  will-change: transform;
  background: #ffffff;
  background: linear-gradient(to right, #c4c4c46c, #87878750, #ffffff00);
  opacity: 80%;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none; 
}

header {
  margin-top: 70px;
  margin-bottom: 200px;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section p {
  font-size: 32px;
  line-height: 38px;
  font-weight: 750;
}

.sectionLeft {
  padding: 0 62px;
}

header h1 {
  font-weight: 600;
  font-size: 60px;
  margin: 11px 0;
  color: var(--color-title);
}

header h2 {
  font-weight: 600;
  font-size: 25px;
  margin: 11px 0;
  color: var(--color-title);
}

header strong {
  color: var(--color-highlight);
}

header sup {
  display: inline-block;
  color: var(--color-cta-text);
  background: var(--color-cta-bg);
  border-radius: 4px;
  font-size: 14px;
  line-height: 151.5%;
  padding: 1px 9px;
  position: relative;
  top: -48px;
  left: -25px;
}

nav {
  font-size: 32px;
  line-height: 38px;
  width: 150px;
}

nav a {
  display: block;
  color: var(--var-color-text-main);
}

a {
  text-decoration: none;
  color: var(--color-highlight);
}

@media screen and (max-width: 1200px) {
  
  header h1 {
    padding-top: 100px;
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 15px;
  }

  nav,
  section p {
    font-size: 20px;
    line-height: 25px;
  }

  .sectionLeft {
    padding: 0 3vw;
  }
}

@media screen and (max-width: 1000px) {
  
  header h1 {
    padding-top: 200px;
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 15px;
  }

  nav,
  section p {
    font-size: 20px;
    line-height: 25px;
  }

  .sectionLeft {
    padding: 0 3vw;
  }
}

@media only screen and (max-width: 768px) {
  
  header h1 {
    padding-top: 300px;
    font-size: 25px;
  }

  header h2 {
    font-size: 15px;
  }

  header h3 {
    font-size: 12px;
  }

  nav,
  section p {
    padding-top: 30px;
    font-size: 10px;
    line-height: 10px;
  }

  .sectionLeft {
    padding: 0 3vw;
  }
}

@media only screen and (max-width: 480px) {
  
  header h1 {
    margin-top: 25px;
    font-size: 26px;
  }
  
  nav,
  section p {
    font-size: 12px;
  }
}



